<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zomato Rating Prediction</title>
</head>
<body>
    <img src="https://user-images.githubusercontent.com/92681972/233918490-f22e93c9-49fa-40a8-8e76-ad996c29be70.png" alt="Flowers in Chania">
    <h1 style="color: red;text-align: center;">
        Zomato🚚🚚
    </h1>
    <h3 style="color: green;text-align: center;">
        Here Fill the Fields for Predict the Rating of the restaurant.
    </h3>
    <form action="/predictdata" method="post">
        <label for="online_order">Online Order</label>
        <select id="online_order" name="online_order">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <label for="book_table">Book Table</label>
        <select id="book_table" name="book_table">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <label for="votes">Votes</label>
        <input type="number" id="votes" name="votes">
        <br>
        <br>
        <label for="rest_type">Rest Type</label>
        <select id="rest_type" name="rest_type">
            <option value="Quick Bites">Quick Bites</option>
            <option value="Casual Dining">Casual Dining</option>
            <option value="Cafe">Cafe</option>
            <option value="Other Rest Type">Other Rest Type</option>
            <option value="Delivery">Delivery</option>
            <option value="Dessert Parlor">Dessert Parlor</option>
            <option value="Takeaway, Delivery">Takeaway, Delivery</option>
            <option value="Casual Dining, Bar">Casual Dining, Bar</option>
            <option value="Bakery">Bakery</option>
            <option value="Beverage Shop">Beverage Shop</option>
            <option value="Bar">Bar</option>
            <option value="Food Court">Food Court</option>
        </select>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
        <label for="cost">Cost (for two persons)</label>
        <input type="number" id="cost" name="cost">
        &nbsp; &nbsp; &nbsp; &nbsp; 
        
        <label for="type">Type</label>
        <select id="type" name="type">
            <option value="Delivery">Delivery</option>
            <option value="Dine-out">Dine-out</option>
            <option value="Desserts">Desserts</option>
            <option value="Cafes">Cafes</option>
            <option value="Drinks & nightlife">Drinks & nightlife</option>
            <option value="Buffet">Buffet</option>
            <option value="Pubs and bars">Pubs and bars</option>
        </select>
        <br>
        <br>
        <label for="city">City</label>
        <select id="city" name="city">
            <option value="Banashankari">Banashankari</option>
            <option value="Bannerghatta Road">Bannerghatta Road</option>
            <option value="Basavanagudi">Basavanagudi</option>
            <option value="Bellandur">Bellandur</option>
            <option value="Brigade Road">Brigade Road</option>
        </select>
        <br>
        <br>
        <p style="color: grey;text-align: center;">
            Press Submit for the prediction of the restaurant rating.
        </p>
        <div style="text-align: center;">
            <input type="submit" id="predict" name="predict" value="Submit" style="color: grey;">
        </div>
    </form>
</body>
</html>
